<?xml version="1.0"?>
<config>
    <modules>
        <KL_Chosen>
            <version>0.0.1</version>
        </KL_Chosen>
    </modules>
    <frontend>
        <layout>
            <updates>
                <kl_chosen>
                    <file>kl_chosen.xml</file>
                </kl_chosen>
            </updates>
        </layout>
    </frontend>
</config>
